<%# NEW EVENT-FORM %>
<div class="container text-center mt-5">
  <h4 class="main-color">Add  New Skill</h4>
    <div class="container text-left sign-form">
<%= simple_form_for @userskills, remote: true do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
  <%= f.association :skill, prompt: "Select Category", input_html: { class: "form-control center"} %>

  </div>
  <br>
  <div class="form-actions text-center">
    <%= f.button :submit %>
  </div>
<% end %>
    </div>
</div>