<div class='row main-col'>


<div class='container col-md-7'>
<%# <strong><h2 class=" header-primary mt-4">Posts</h2></strong> %>
<% if @job %>

    <div class='card'>

        <% if @job.organization == current_organization %>
            <div class="dropdown text-right">
            <a class="fas fa-ellipsis-h g-color" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to :"Edit", edit_job_path(@job),class:'dropdown-item' %>
            <%= link_to 'Delete', @job, method: :delete, data: { confirm: "remove this job?" }, class:"dropdown-item danger"%>
            </div>
            </div>
        <% end %>
    

      
        
                <div class="card-body card-body-cascade text-left job">
                    <!-- Title -->
                    <h5 class=""><strong>Title: <%= link_to @job.title, job_path(@job)%></strong></h5>
                    <!-- Text -->
                    <p class="card-text">Description: <%=@job.description%></p>
                    <p class="card-text">Position: <%=@job.position%></p>
                    <p class="card-text">Address: <%=@job.address%></p>
                    <p class="card-text">Salary: <%=@job.salary%></p>
                </div>
        <hr> 
        <div class="container row">
        <div>Posted By: <strong class='main-color'> <%= link_to @job.organization.company_name, organization_path(@job.organization)%></strong></div>
        <div class='time'><p class="g-color">• <%= time_ago_in_words(@job.updated_at)%> ago</p></div>
    </div>
                   
    </div>  

  <% else %>
            <p> There's no such job.</p>
        <% end %>

</div>


</div>