<div class="container mt-5">
    <div class="row">

<%# Review Book %>
  <div class="col-md-9">
      <% if @user_posts.empty? %>
        <p> There are not user_posts yet,</p>
        <%else%>
            <div class='container'>
            <div id="cards">
                    <% (@user_posts.length).times do |i| %>
                        <!-- Card Wider -->
                            <div class="card card-cascade wider">
                            <div class="container row">
                                <div><h4><strong class='main-color'><%= link_to @user_posts[i].user.username, user_path(@user_posts[i].user)%></strong></h4></div>
                                <div class='time'><span class="g-color">• <%= time_ago_in_words(@user_posts[i].updated_at)%> ago</span></div>
                            </div>
                                <% if @user_posts[i].images.attached? %>
                                        <!-- Card image -->
                                        <%# <div class="view view-cascade overlay"> %>
                                        <div class="card-image-box" style=''>
                                            <%= link_to(image_tag(url_for(@user_posts[i].images.first),class:"card-img-top",style:'back'), post_path(@user_posts[i])) %>
                                        </div>
                                 <% else %>
                                        <%if @user_posts[i].category.id == 1 %>
                                            <%= link_to(image_tag("https://dummyimage.com/600x300/666666/ffffff.jpg&text=Maintenance+Services",class:"card-img-top",style:'back'), post_path(@user_posts[i])) %>
                                        <%elsif @user_posts[i].category.id == 2 %>
                                            <%= link_to(image_tag("https://dummyimage.com/600x300/666666/ffffff.jpg&text=Teaching+Services",class:"card-img-top",style:'back'), post_path(@user_posts[i])) %>
                                        <%elsif @user_posts[i].category.id == 3 %>
                                        <%= link_to(image_tag("https://dummyimage.com/600x300/666666/ffffff.jpg&text=Freelance+Services",class:"card-img-top",style:'back'), post_path(@user_posts[i])) %>
                                        <% end %>                                
                                <% end %>
                                    <!-- Card content -->
                                    <div class="card-body card-body-cascade text-left">
                                        <!-- Title -->
                                        <h3 class="main-color"><strong><%= link_to @user_posts[i].title, post_path(@user_posts[i])%></strong></h3>
                                        <!-- Text -->
                                        <p class="card-text"><%=@user_posts[i].description%></p>
                                    </div>
                            <hr>
                            <!-- Card footer -->
                            <div class="container row">
                                <div class='card-footer-comments'><%= link_to "<strong class='far fa-comment g-color post-footer-text'> #{@user_posts[i].comments.size} </strong>".html_safe , post_path(@user_posts[i]) %> </div>
                                <div class='card-footer-rates'><%= link_to "<strong class='fas fa-star g-color post-footer-text'> #{@user_posts[i].show_rating} </strong>".html_safe , post_path(@user_posts[i]) %> </div>
                            </div>
                            </div>
                            <!-- Card Wider -->
                    <% end %>
                            
                        </div>
                </div>
        <% end %>
    </div>
<div class="col-md-3">
<div class='profil card'>
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
                    <% if !@user.image.attached? %>
                    <%= image_tag 'avatar-placeholder.gif', class:'avatar text-center',style:'width:100%;'%>
                    <% else %>
                    <%= image_tag @user.image, class:'avatar text-center',style:'width:100%;'%>
                    <% end %>
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<%= @user.username.capitalize %> 
					</div>
					<%# <div class="profile-usertitle-job">
						Developer
					</div> %>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">Follow</button>
                    <%= link_to "Message", conversations_path(user_id: @user), class: "btn btn-danger btn-sm" %>

				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<%= link_to "<i class='glyphicon glyphicon-user'></i>Account Settings".html_safe, edit_user_registration_path(@user)%>
                            <br>
                            <%= link_to "<i class='glyphicon glyphicon-user'></i>Add Skills".html_safe, new_userskill_path(@user)%>

						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		</div>


  

    </div>
</div>
