<div class='row main-col'>
<div class='container col-sm-3'>
    <div class=''>
        <%= render 'posts/left-col'%>    
    </div>
</div>

<div class='container col-md-6'>
<strong><h2 class=" header-primary mt-4">Events</h2></strong>

<% if organization_signed_in? %>
    <div class='card'>

        <%= simple_form_for @event,:url => url_for(:action => 'create', :controller => 'events'),:method => 'post' do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <h4> Add New Post </h4>
        <div class="form-inputs">
            <%= f.input :title,label: false, placeholder:'Title' %>
            <%= f.input :description,label: false, placeholder:'Description' %>
            <%= f.input :address,label: false, placeholder:'Address' %>
            <%= f.input :start_date %>
            <%= f.input :end_date,label: false%>
            <%= f.file_field :images %>
        </div>
        <div class="form-actions text-right">
            <%= f.button :submit %>
        </div>
        <% end %>

    </div>
<% end %>

<% if @events.empty? %>
    <p> There are not events yet,</p>
<%else%>
<div class=''>
            <div id="cards">
                    <% (@events.length).times do |i| %>
                        <!-- Card Wider -->
                            <div class="card card-cascade wider">
                            <div class="container row">
                                <div><h4><strong><%= link_to @events[i].organization.company_name, organization_path(@events[i].organization), class:'main-color'%></strong></h4></div>
                                <div class='time'><span class="g-color">• <%= time_ago_in_words(@events[i].updated_at)%> ago</span></div>
                            </div>
                            <!-- IMAGES -->
                            <% if @events[i].images.attached? %>
                                <!-- Card image -->
                                <div class="card-img-box">
                                    <%= link_to(image_tag(url_for(@events[i].images.first),class:"card-img-top"), event_path(@events[i])) %>
                                </div>
                            <% end %>
                             <!-- Card content -->
                            <div class="card-body card-body-cascade text-left">
                                <!-- Title -->
                                <h4 class="card-title"><strong><%= link_to @events[i].title, event_path(@events[i])%></strong></h4>
                                <!-- Text -->
                                <p class="card-text"><%=@events[i].description%></p>
                            </div>
                            <% if current_user  %>
                                <% if @events[i].attendees.where(user: current_user).any?  %>
                                <%# CHANGE COLOR MAYBE TO GREED FOR THE BELOW BTN %>
                                <strong><%= link_to 'Attending',"/attendees/del/#{@events[i].id}", :method=>:post, class:'attend-btn', remote: true, data: { turbolinks: "false" }  %></strong>
                                <p><%= @event.attendees.count %> <%= (@events[i].attendees.count) == 1 ? 'attendee' : 'attendees'%></p>
                                <%else%>
                                <strong><%= link_to 'ATTEND',"/attendees/new/#{@events[i].id}", :method=>:post, class:'attend-btn', remote: true, data: { turbolinks: "false" }  %></strong>
                                <p><%= @events[i].attendees.count %> <%= (@events[i].attendees.count) == 1 ? 'attend' : 'attendees'%></p>
                                <% end %>

                            <% end  %>
                            <hr> 
                            <!-- Card footer -->
                            <div class="container row">
                                <div class='card-footer-comments'><%= link_to "<strong class='far fa-calendar-check g-color post-footer-text'> #{@events[i].attendees.size} </strong>".html_safe , event_path(@events[i]) %> </div>
                            </div>
                            </div>
                            <!-- Card Wider -->
                    <% end %>
                            
                        </div>
                </div>
<% end %>


</div>
<div class='container col-sm-3'>
<div class='right-col'>
        <%= render 'posts/right-col'%>    
    </div>
</div>
</div>