

<%# SLIDE Carousel %>
<div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
       <div class="carousel-item text-left active">
            <div class="text-left carousel-caption d-none d-md-block">
                <h5><strong>First slide label</strong></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <%= image_tag'slides/helena-lopes-PGnqT0rXWLs-unsplash.jpg',class:'carousel-img'%>
        </div>
       <div class="carousel-item text-left">
            <div class="text-left carousel-caption d-none d-md-block">
                <h5><strong>First slide label</strong></h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
            <%= image_tag'slides/helena-lopes-PGnqT0rXWLs-unsplash.jpg',class:'carousel-img'%>
        </div>
             <div class="carousel-item text-left">
            <div class="text-left carousel-caption d-none d-md-block">
                <h5><strong>First slide label</strong></h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
            <%= image_tag'slides/helena-lopes-PGnqT0rXWLs-unsplash.jpg',class:'carousel-img'%>
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<%# SERVICES %>
<section class="cid-r6Vl2LvYf1" id="features1-4">
    <div class="container">

        <div class="row justify-content-center text-center">
            <div class="col-md-6 col-lg-3">
                <div class="row-item">
                    <%= link_to organizations_path do %>
                        <div class="card-img pb-3 align-center">
                            <span class="mbr-iconfont fas fa-users"></span>
                        </div>
                        <h5 class="mbr-fonts-style mbr-card-title align-center pb-2 display-5">Communities</h5>
            
                        <p class="mbr-text mbr-fonts-style align-center mbr-light m-0 display-7 fg-color">connect with your Communities and get updated.</p>
                     <% end %>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="row-item">
                    <%= link_to events_path do %>
                        <div class="card-img pb-3 align-center">
                            <span class="mbr-iconfont far fa-calendar-alt"></span>
                        </div>
                        <h5 class="mbr-fonts-style mbr-card-title align-center pb-2 display-5">Events</h5>
            
                        <p class="mbr-text mbr-fonts-style align-center mbr-light m-0 display-7 fg-color">Be part of your Communities events.</p>
                    <% end %>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="row-item">
                    <%= link_to jobs_path do %>
                        <div class="card-img pb-3 align-left">
                            <span class="mbr-iconfont fas fa-briefcase""></span>
                        </div>
                        <h5 class="mbr-fonts-style mbr-card-title align-center pb-2 display-5">Find Prossional Jobs</h5>
                        <p class="mbr-text mbr-fonts-style align-center mbr-light m-0 display-7 fg-color">Find job that match your career.</p>
                    <% end %>                
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="row-item">
                    <%= link_to posts_path do %>
                        <div class="card-img pb-3 align-left">
                            <span class="mbr-iconfont far fa-clipboard"></span>
                        </div>
                        <h5 class=" mbr-fonts-style mbr-card-title align-center pb-2 display-5">Post your talent</h5>
                        <p class="mbr-text mbr-fonts-style align-center mbr-light m-0 display-7 fg-color">post your talent to help people.</p>
                     <% end %>
                </div>
            </div>

        </div>
    </div>
</section>