<%= simple_form_for @post, remote: true do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.association :category, prompt: "Select Category", input_html: { class: "form-control center" } %>
    <p class='fg-color'>Add images:</p>
    <%= f.file_field :images, multiple: true %>
  </div>
  <br>
  <div class="form-actions text-center">
    <%= f.button :submit %>
  </div>
<% end %>