<h1 class="text-center header-primary mt-5">Posts</h1>
<% if @posts.empty? %>
    <p> There are not posts yet,</p>
<%else%>
<div class='container col-md-6'>
            <div id="cards">
                    <% (@posts.length).times do |i| %>
                        <!-- Card Wider -->
                            <div class="card card-cascade wider">
                            <div class="text-muted">
                                <strong><%= link_to @posts[i].user.username, user_path(@posts[i].user)%></strong>
                            </div>
                                <!-- Card image -->
                                <div class="view view-cascade overlay">
                                    <%= link_to(image_tag(url_for(@posts[i].images.first),class:"card-img-top"), post_path(@posts[i])) %>
                                    <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                                <!-- Card content -->
                                <div class="card-body card-body-cascade text-left">
                                    <!-- Title -->
                                    <h4 class="card-title"><strong><%=@posts[i].title%></strong></h4>
                                    <!-- Text -->
                                    <p class="card-text g-color"><%=@posts[i].description%></p>
                                    </div>
                                
                            <!-- Card footer -->
                            <div class="card-footer text-muted">
                                <small class="g-color">updated at: <%= time_ago_in_words(@posts[i].updated_at) %> ago</small>
                            </div>
                            </div>
                            <!-- Card Wider -->
                    <% end %>
                            
                        </div>
                </div>
<% end %>
   

<%= link_to "Add new post","/posts/new",class:"btn btn-warning mx-4 my-4 btn-lg"  %>