<div class='row main-col'>
<div class='container col-sm-3 mt-2' style='padding-right: 0;'>
    <div class=''>
        <%= render 'posts/left-col'%>    
    </div>
</div>

<div class='container col-md-6'>
<%# <strong><h2 class=" header-primary mt-4">Posts</h2></strong> %>

<% if user_signed_in? %>
    <div class='card'>

    <%= simple_form_for @post,:url => url_for(:action => 'create', :controller => 'posts'),:method => 'post' do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <h4 class="card-title"> Add New Post </h4>
    <div class="form-inputs">
        <%= f.input :title, label: false, placeholder:'Title' %>
        <%= f.input :description, label: false, placeholder:'Description' %>
        <%= f.association :category, prompt: "Select Category", input_html: { class: "form-control center" }, label: false%>
        <%= f.file_field :images, multiple: true%>
    </div>form-actions 
    <div class="text-right">
        <%= f.button :submit %>
    </div>
    <% end %>
    </div>

<% end %>


<% if @posts.empty? %>
    <p> There are not posts yet,</p>
<%else%>
            <div id="cards">
                    <% (@posts.length).times do |i| %>
                        <!-- Card Wider -->
                            <div class="card card-cascade wider">
                            <div class="container row">
                                <div><h4><strong class='main-color'><%= link_to @posts[i].user.username, user_path(@posts[i].user)%></strong></h4></div>
                                <div class='time'><span class="g-color">• <%= time_ago_in_words(@posts[i].updated_at)%> ago</span></div>
                            </div>
                                <% if @posts[i].images.attached? %>
                                    <!-- Card image -->
                                    <%# <div class="view view-cascade overlay"> %>
                                    <div class="card-image-box" style=''>
                                        <%= link_to(image_tag(url_for(@posts[i].images.first),class:"card-img-top",style:'back'), post_path(@posts[i])) %>
                                    </div>
                                 <% else %>
                                    <%if @posts[i].category.id == 1 %>
                                        <%= link_to(image_tag("https://dummyimage.com/600x300/666666/ffffff.jpg&text=Maintenance+Services",class:"card-img-top",style:'back'), post_path(@posts[i])) %>
                                    <%elsif @posts[i].category.id == 2 %>
                                        <%= link_to(image_tag("https://dummyimage.com/600x300/666666/ffffff.jpg&text=Teaching+Services",class:"card-img-top",style:'back'), post_path(@posts[i])) %>
                                    <%elsif @posts[i].category.id == 3 %>
                                       <%= link_to(image_tag("https://dummyimage.com/600x300/666666/ffffff.jpg&text=Freelance+Services",class:"card-img-top",style:'back'), post_path(@posts[i])) %>
  

                                    <% end %>                                
                                <% end %>
                                    <!-- Card content -->
                                    <div class="card-body card-body-cascade text-left">
                                        <!-- Title -->
                                        <h3 class="main-color"><strong><%= link_to @posts[i].title, post_path(@posts[i])%></strong></h3>
                                        <!-- Text -->
                                        <p class="card-text"><%=@posts[i].description%></p>
                                    </div>
                            <hr>
                            <!-- Card footer -->
                            <div class="container row">
                                <div class='card-footer-comments'><%= link_to "<strong class='far fa-comment g-color post-footer-text'> #{@posts[i].comments.size} </strong>".html_safe , post_path(@posts[i]) %> </div>
                                <div class='card-footer-rates'><%= link_to "<strong class='fas fa-star g-color post-footer-text'> #{@posts[i].show_rating} </strong>".html_safe , post_path(@posts[i]) %> </div>
                            </div>
                            </div>
                            <!-- Card Wider -->
                    <% end %>
                            
            </div>
                </div>
<% end %>
<div class='container col-md-3 mt-2' style='padding-left: 0;'>
    <div class='right-col'>
        <%= render 'posts/right-col'%>    
    </div>
</div>
</div>

