<h3 class="header-secondry"> 
Rating: 
    <% @post.show_rating.to_i.times do  %>
        <span class="text-warning">&#9733;</span>
    <% end %>
    <% (5 - @post.show_rating.to_i).times do  %>
        <span class="text-warning">&#9734;</span>
    <% end %>
</h1> 

<div class="show-info">
<h3>
   Type: <%=@pet.animal_type%>

</h3>
<h3>
    Breed: <%=@pet.breed%>

</h3>
<h3>
    Gender: <%=@pet.gender%>

</h3>
<h3>
   Color: <%=@pet.color%>

</h3>
<h4>
   Description: <%=@pet.description%>

</h4>

<br>


<% unless @pet.images.empty? %>

    <div class="home-slide">
        <div id="carouselExampleCaptions" class="carousel slide smaller-carousel" data-ride="carousel">
            <ol class="carousel-indicators">
                <% (@pet.images.length).times do |i| %>
                <li data-target="#carouselExampleCaptions" data-slide-to="i" class= "<%="active" if i == 0%>"></li>
                <% end %>
            </ol>
            <div class="carousel-inner">
    
                <% (@pet.images.length).times do |i| %>
                    <div class="carousel-item
                        <%="active" if i == 0%>
                    ">
       
                        <%= image_tag(url_for(@pet.images[i]), class:"d-block w-100 carousel") %>
                
                    </div>
                <% end%>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
<% end %>

</div>



<% if current_user && current_user.id == @pet.owner_id%>

<h4>
    <%= link_to :"List #{@pet.name}", {:controller => "transactions", :action => "new", :pet_id => @pet.id }, class: "btn btn-success my-4" %>
</h4>

<h4>
    <%= link_to :"Edit Informations", "/pets/#{params[:id]}/edit", class: "btn btn-warning my-4" %>
</h4>


<h3>
<%= link_to :"delete", "/pets/#{params[:id]}", method: "delete", class: "btn btn-danger"%>
</h3>

<br>
<br>
<%end%>
<%= link_to :"Back to home", "/" %>


<h2 class="header-ternary"> Comments </h1> 
<div id="comments">

<%if current_user%>
  <div class="card">
    <div class="card-header">
        <h3>Add comment </h3>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
       
       

       <%= form_with url: "/pets/add_comment", method: "post", id: "form" do |f| %>
  <%= f.text_field :title, required: true, placeholder: "Title" %><br><br>
  <%= f.text_area :text, required: true,placeholder: "Comment"  %><br><br>
                <%= f.hidden_field :user_id,
                required: false,
                autocomplete: "your-id", value: current_user.id %>
                <%= f.hidden_field :pet_id,
                required: false,
                autocomplete: "your-pet", value: @pet.id %>
<br>
  <%= f.submit " Add Comment ", class:" btn btn-outline-warning btn-lg" %>
  <%end%>
       
       
       
       
       
       
       </blockquote>
    </div>
  </div>

<%end%>






<% if @comments.empty?%>

<p> There are no comments to show </p>

<%else%>
<%(@comments.length).times do |c|%>

<div class="card">
  <div class="card-header">
    <strong><%= @comments[c].title%> </strong>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @comments[c].text%></p>
      <footer class="blockquote-footer">By:  <cite title="Source Title"><%=@comments[c].user.name%></cite></footer>
    </blockquote>
  </div>
  <div class="card-footer">
        <small class="text-dark">Commented:  <%= time_ago_in_words(@comments[c].created_at) %></small>
    </div>
</div>


<%end%>
<%end%>


</div>


