// const submit =document.querySelector("#submit"); 
//  const reviews = document.querySelector(".reviews");
// submit.addEventListener("click", function(){
// reviews.innerHTML= `
// <div class="card-body">
// <blockquote class="blockquote mb-0">
//   <p><%= @review.text%></p>
//   <footer class="blockquote-footer">By:  <cite title="Source Title"><%=@review.user.username%></cite>
//   <%if current_user && current_user.id == @review.user_id%>
//     <%=link_to "edit", "/reviews/#{@reviews[i].id}/edit"%>
//     <%= link_to 'Delete',"/reviews/#{@reviews[i].id}" ,
//     method: :delete, 
//     data: { confirm: 'Are you sure?' } %>
//   <%end%>
//   </footer>
// </blockquote>
// </div>
// <div class="card-footer">
//     <small class="text-dark">Reviewed:  <%= time_ago_in_words(@review.created_at) %></small>
// </div>
// </div>


// <%end%>
// <%end%>
// </div>`

// });