<%= link_to "<li>Posts</li>".html_safe, posts_path %>
<%= link_to "<li>Events</li>".html_safe, events_path %>
<%= link_to "<li>Jobs</li>".html_safe, jobs_path %>
<%= link_to "<li>Network</li>".html_safe, organizations_path %>
<%= link_to (render "notifications/notifications"), conversations_path %>
