<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'fav.png' %>
    <title>RefConnection: Refugee Malaysia work job</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="mGd-fxEzv-3ukYhF80J4z43LvEG1AtJHW3AdxNOXkLU" />
  </head>
  <body>

<!-- Navigation -->
<% if user_signed_in? || organization_signed_in? %>
  <div class="navbar">
    <%# HEARDER OR LOGO %>
    <%= render 'layouts/navbar-header'%>
    <%# LEFT SIDE %>
    <div class="nav-right row text-left"> 
      <% if user_signed_in? %>
        <%=render 'layouts/search-navbar'%> 
      <% end %> 
    <strong>
      <% if user_signed_in? %>
        <% @user = current_user %>
        <%= render 'layouts/user-add-navbar'%>
        <%= render 'layouts/user-navbar' %>
      <% elsif organization_signed_in? %>
        <%= render 'layouts/org-add-navbar'%>
        <%= render 'layouts/org-navbar' %>
      <% end %>
      </strong>
    </div>
  </div>
<% else %>
  <% unless current_page?(org_root_path) || current_page?(new_organization_session_path) || current_page?(new_organization_registration_path)%>
      <%= render 'layouts/guest-user-navbar'%>
      <% else %>
        <!-- Navigation -->
      <%= render 'layouts/guest-org-navbar'%>
  <% end  %>

<% end %>





    <%= yield %>
    <%=javascript_pack_tag "all" %> 
  </body>
</html>
